.outerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
#pdfDownload {
    display: none; /* Hide the download button initially */
    margin-top: 20px;
    width: 300px;
    font-size: 24px;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #319cf4;
    color: white;
    border-radius: 5px;
}
.toggle-switch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}
.toggle-switch input {
    display: none;
}
.toggle-label {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.2s;
}
.toggle-label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}
input:checked + .toggle-label {
    background-color: #28a745;
}
input:checked + .toggle-label::after {
    transform: translateX(30px);
}

/* Styling for buttons */
button, .button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #0056b3;
}

/* Styling for the file input */
.upload-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

.upload-btn:hover {
    background-color: #218838;
}

.upload {
    display: none; /* Hide the default file input */
}